#################################
# Node / Angular
#################################
node_modules/
dist/
.angular/
.env

#################################
# Java / Spring Boot
#################################
target/
*.log

#################################
# IDEs
#################################
.idea/
.vscode/
*.iml

#################################
# Sistema Operativo
#################################
.DS_Store
Thumbs.db
