<div class="background-container"></div>
<div class="login-wrapper">
  <div class="login-container">
    <!-- LEFT -->
    <div class="left-side">
      <div class="left-content">
        <h2>KINEVID</h2>
        <h3>Sistema de gestión de fisioterapia</h3>
      </div>
    </div>

    <!-- RIGHT -->
    <div class="right-side">
      <div class="form-container">
        <h1>Bienvenido a KINEVID</h1>
        <form>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="email"
              placeholder="correo@email.com">
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Password</mat-label>
            <input
              matInput
              type="password"
              placeholder="********">
            <mat-icon matSuffix>lock</mat-icon>
          </mat-form-field>
          <button
            mat-raised-button
            class="login-button">
            Iniciar sesión
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
