/* Espaciado interno para los filtros */
.p5 {
  padding: 5px;
}

/* Margen para íconos dentro de botones */
.mr5 {
  margin-right: 5px;
}

/* Scroll horizontal en la tabla en pantallas pequeñas */
.table-scroll {
  overflow-x: auto;
}

