<aside class="sidebar" [class.sidebar--collapsed]="!isOpen">
  <nav class="sidebar__nav">
    <ul class="menu">
      <li *ngFor="let item of menuItems" class="menu__item">

        <!-- Item padre con hijos (expandible) -->
        <div
          *ngIf="hasChildren(item)"
          class="menu__header"
          [class.menu__header--active]="item.active"
          (click)="onMenuClick(item)">
          <mat-icon class="menu__icon">{{ item.icon }}</mat-icon>
          <span class="menu__label">{{ item.label }}</span>
          <mat-icon class="menu__expand-icon" [class.menu__expand-icon--rotated]="isExpanded(item.id!)">
            expand_more
          </mat-icon>
        </div>

        <!-- Item sin hijos (navegable directamente) -->
        <a
          *ngIf="!hasChildren(item)"
          [routerLink]="item.route"
          class="menu__link"
          [class.menu__link--active]="item.active"
          (click)="onMenuClick(item)">
          <mat-icon class="menu__icon">{{ item.icon }}</mat-icon>
          <span class="menu__label">{{ item.label }}</span>
        </a>

        <!-- Submenu (solo 2 niveles, los hijos son directamente navegables) -->
        <ul *ngIf="hasChildren(item) && isExpanded(item.id!)" class="submenu">
          <li *ngFor="let child of item.children" class="submenu__item">
            <a
              [routerLink]="child.route"
              class="submenu__link"
              [class.submenu__link--active]="child.active"
              (click)="onChildClick(item, child)">
              <mat-icon class="submenu__icon">{{ child.icon }}</mat-icon>
              <span class="submenu__label">{{ child.label }}</span>
            </a>
          </li>
        </ul>

      </li>
    </ul>
  </nav>

  <button (click)="onToggle()" class="sidebar__toggle">
    <mat-icon>{{ isOpen ? 'chevron_left' : 'chevron_right' }}</mat-icon>
  </button>
</aside>
